.navbar {
	background-color: #fff;
	height: 80px;
	margin-top: -17px;
	background-size: cover;
	//width: 100%;
	
	ul {
		float: right;
		display: flex;

		overflow: hidden;
		width: 50%;
		list-style: none;
		padding-top: 1.3em;
		font-size: 15px;
		padding-right: 60px;

		li {
			float: right;
			text-align: right;
			width: 50%;
			list-style: none;
		}
	}
}